<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455974059166-c3t79v6u8h7ppa0os6c8c1nfa5dq8ink.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455974059166-c3t79v6u8h7ppa0os6c8c1nfa5dq8ink</string>
	<key>API_KEY</key>
	<string>AIzaSyAS7XUJ77D7-pxy8nVC-hfo_Niwemwtzlw</string>
	<key>GCM_SENDER_ID</key>
	<string>455974059166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simon02468.HolidayPlan</string>
	<key>PROJECT_ID</key>
	<string>holidayplan-73345</string>
	<key>STORAGE_BUCKET</key>
	<string>holidayplan-73345.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455974059166:ios:ff8d1587e914bdf0da0f8f</string>
</dict>
</plist>